<div class="container">
    <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-3 has-text-centered">
                    <span>What's inside</span>
                </p>
                <!-- <div class="columns is-centered">
                    <div class="column is-6 content has-text-centered">
                        <p>Test test test</p>
                    </div>
                </div> -->

                <div class="columns is-multiline is-centered">
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Representation
                            </p>
                            <!-- <figure class="image is-128x128" style="display:block; margin: auto;"><img style="border-radius: 50%;" src="path.img"></figure>
                            <br> -->
                            <p class="is-5">
                                <strong>How to specify a model.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>General techniques for parameterizing multivariate probability distributions and representing them in the intuitive visual language of graphs.</p>
                                &nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Inference
                            </p>
                            <p class="is-5">
                                <strong>How to ask the model questions.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Algorithms for exact and approximate inference that answer useful questions about the world, such as: <i>What is the posterior distribution over a variable of interest? What is the most probable explanation for a given hypothesis? How certain are we that this explanation holds?.</i> </p>
                                &nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                Learning
                            </p>
                            <p class="is-5">
                                <strong>How to fit a model to real-world data.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Methods for learning directed, undirected, and latent variable models, with an emphasis on <i>structure learning</i> and <i>parameter learning</i>.</p>
                                &nbsp;
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

