<div class="container">
    <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-3 has-text-centered">
                    <span id="whats-inside">What's inside</span>
                </p>
                <!-- <div class="columns is-centered">
                    <div class="column is-6 content has-text-centered">
                        <p>Test test test</p>
                    </div>
                </div> -->

                <div class="columns is-multiline is-centered">
                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                <b>Representation</b>
                                <br>
                                &#10022;
                            </p>
                            <!-- <figure class="image is-128x128" style="display:block; margin: auto;"><img style="border-radius: 50%;" src="path.img"></figure>
                            <br> -->
                            <p class="is-5">
                                <strong>How to specify a model.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>General techniques for parameterizing multivariate probability distributions and representing them in the intuitive visual language of graphs.</p>
                                &nbsp;
                            </p>
                            <p align="center">
                                <img src='img/mrf.png' width="50%" class="center" alt="A Markov random field and its factors.">
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                <b>Inference</b>
                                <br>
                                &#10022;
                            </p>
                            <p class="is-5">
                                <strong>How to ask the model questions.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Inference algorithms for answering useful questions, such as: <i>What is the most probable explanation for a given hypothesis, and how certain are we?</i> </p>
                                &nbsp;
                            </p>
                            <p align="center">
                                <img src='img/message_passing.png' width="65%" class="center" alt="Message passing.">
                            </p>
                        </div>
                    </div>

                    <div class="column is-4-desktop is-6-tablet">
                        <div class="has-text-centered">
                            <p class="title is-4">
                                <b>Learning</b>
                                <br>
                                &#10022;
                            </p>
                            <p class="is-5">
                                <strong>How to fit a model to real-world data.</strong>
                            </p>
                            <p class="subtitle is-6">
                                <p>Methods for learning directed, undirected, and latent variable models, with an emphasis on <i>structure learning</i> and <i>parameter learning</i>.</p>
                                &nbsp;
                            </p>
                            <p align="center">
                                <img src='img/learning.png' width="75%" class="center" alt="A weighted mixture of exponential family distributions.">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

