<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary"  style="background: url('https://jmaasch.github.io/pgm/img/banner.png') no-repeat center center; background-size: cover;" >
    <!--
        <section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    -->
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <div class = "columns">
                <!-- 
                <div class="column is-one-quarter">
                    <figure class="image">
                        <a href="https://www.tech.cornell.edu"><img src="{{ site.siteurl }}/img/cornell-tech-logo-optimized.png"></a>
                    </figure>
                </div>
                <div class="column is-1">
                    <h1 class="title is-2"> </h1>
                </div>
                -->
                <div class="column">
                    <h1 class="title is-1" style="text-align:center;">{{ page.title }}</h1>
                    <p class="subtitle is-2" style="text-align:center;">{{ page.subtitle }}</p>
                    <p style="text-align:center;"> 
                        Jacqueline Maasch<sup>1</sup>, Willie Neiswanger<sup>2</sup>, Stefano Ermon<sup>3</sup>, 
                        Volodymyr Kuleshov<sup>1</sup>
                        <br>
                        <sup>1</sup>Cornell Tech, <sup>2</sup>University of Southern California, <sup>3</sup>Stanford University
                    </p>
                </div>
                {% if page.hero_link %}
                    <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>