---
---


$primary: #a10b3a;
$link: #0969c4;
$info: #1e2197;
// Import Main CSS file from theme
@import "main";

//dark-purple: #470f72
//purple: #552484
//red: #a10b3a
//alt-red: #8c135c
//red-purple: #7d0c4e
//mulberry: #661168
//dark blue #1e2197
//medium blue: #0739b4
//light blue: #0969c4